<div class="container" style="margin-top: 15%">
  <div class="row d-flex align-items-start">
    <div style="margin-right: 50px">
      <form (keyup.enter)="startNewGame()" (ngSubmit)="startNewGame()">
        <div class="form-group">
          <label for="size">size</label>
          <input type="number" [(ngModel)]="settings.size"
                 id="size" class="form-control" name="size" min="5"/>
        </div>
        <div class="form-group">
          <label for="mines">#mines</label>
          <input type="number" [(ngModel)]="settings.mines" min="3"
                 id="mines" class="form-control" name="mines"/>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">start new game</button>
      </form>

    </div>
    <div class="">
      <table>
        <tr *ngFor="let row of board.cells; index as y;">
          <td *ngFor="let cell of row; index as x;" (click)="checkCell(cell)"
              (contextmenu)="$event.preventDefault(); markAsFlag(cell)"
              [style.background-color]="cell.status == 'clear' ? 'lightgray' : '#FFFFFF'">
            <p *ngIf="cell.status == 'clear' && !cell.mine">{{cell.surroundedMines}}</p>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24" *ngIf="cell.mine && cell.status === 'clear'">
              <path fill="#000000"
                    d="M11.25,6A3.25,3.25 0 0,1 14.5,2.75A3.25,3.25 0 0,1 17.75,6C17.75,6.42 18.08,6.75 18.5,6.75C18.92,6.75 19.25,6.42 19.25,6V5.25H20.75V6A2.25,2.25 0 0,1 18.5,8.25A2.25,2.25 0 0,1 16.25,6A1.75,1.75 0 0,0 14.5,4.25A1.75,1.75 0 0,0 12.75,6H14V7.29C16.89,8.15 19,10.83 19,14A7,7 0 0,1 12,21A7,7 0 0,1 5,14C5,10.83 7.11,8.15 10,7.29V6H11.25M22,6H24V7H22V6M19,4V2H20V4H19M20.91,4.38L22.33,2.96L23.04,3.67L21.62,5.09L20.91,4.38Z"/>
            </svg>

            <svg style="width:24px;height:24px" viewBox="0 0 24 24" *ngIf="cell.status === 'flag'">
              <path fill="#000000"
                    d="M6,3A1,1 0 0,1 7,4V4.88C8.06,4.44 9.5,4 11,4C14,4 14,6 16,6C19,6 20,4 20,4V12C20,12 19,14 16,14C13,14 13,12 11,12C8,12 7,14 7,14V21H5V4A1,1 0 0,1 6,3Z"/>
            </svg>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>
