.container {
  justify-content: center;
}

.table, td {
  border: 1px solid darkgrey;
  border-collapse: collapse;
}

td {
  height: 32px;
  width: 32px;
  display: inline-grid;
  align-items: center;
  justify-content: center;
}
